.feedback__subtitle{
    margin: 2px auto 5px 10px;
    padding: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    color: #796C83;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.17px;
}

@media (min-width: 590px){
    .feedback__subtitle{
        margin-top: 5px;

        font-size: 12.5px;
        letter-spacing: -0.213px;
    }
}

@media (min-width: 930px){
    .feedback__subtitle{
        margin-left: 20px;

        font-size: 17px;
        letter-spacing: -0.289px;
    }
}

@media (min-width: 1250px){
    .feedback__subtitle{
        margin-top: 40px;
    }
}