.feedback__review{
    margin: 0 0 0 auto;
    padding: 10px;

    color: #D8D8D8;
    font-family: Forum;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.204px;
}

@media (min-width: 590px){
    .feedback__review{
        padding-bottom: 15px;

        font-size: 15px;
        letter-spacing: -0.255px;
    }
}


@media (min-width: 930px){
    .feedback__review{
        padding: 20px;
        padding-bottom: 30px;

        font-size: 22px;
        letter-spacing: -0.374px;
    }
}

@media (min-width: 1250px){
    .feedback__review{
        padding: 20px;
        padding-bottom: 30px;

        font-size: 25px;
        letter-spacing: -0.425px;
    }
}