.feedback__review{
    margin: 0;
    padding: 10px;

    color: #D8D8D8;
    font-family: Forum;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.204px;
}