.feedback__title{
    margin: 0 0 0 10px;
    padding: 0;

    top: 93px;
    left: 10px;

    color: #C36FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 20px */
    letter-spacing: -0.34px;
}

@media (min-width: 590px){
    .feedback__title{
        margin: 5px 0 0 10px;

        font-size: 25px;
        letter-spacing: -0.425px;

        top: 114px;
    }
}


@media (min-width: 930px){
    .feedback__title{
        margin: 10px 0 0 20px;

        font-size: 32px;
        letter-spacing: -0.544px;

        top: 153px;
    }
}


@media (min-width: 1250px){
    .feedback__title{
        font-size: 35px;
        letter-spacing: -0.595px;

        top: 180px;
    }
}