.lessons-format{
    margin: 0 auto;
    padding: 0 20px 40px;

    display: flex;
    flex-direction: column;

    background-image: url("../../image/long-gradient-flip.svg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: right bottom;
}

@media (min-width: 590px){
    .lessons-format{
        background-size: 550px;
    }
}

@media (min-width: 1250px){
    .lessons-format{
        flex-direction: row;
        flex-wrap: wrap;
        background-image: url("../../image/square-gradient-flip.svg");
        transform: translateY(-300px);
    }
}