.about-Vlad__title{
    margin: 3px 15px 7px 10px;
    padding: 0;

    color: #FFF;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 85.714% */
    letter-spacing: -0.595px;
}

@media (min-width: 590px){
    .about-Vlad__title{
        margin: 7px 20px 10px 15px;
        font-size: 50px;
        letter-spacing: -0.85px;
        line-height: 100%; /* 50px */
    }
}

@media (min-width: 930px){
    .about-Vlad__title{
        font-size: 65px;
        letter-spacing: -1.105px;
    }
}
