.about-Vlad__description{
    padding: 0;
    margin: 10px auto 0;

    color: #FFF;
    font-family: Forum;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.289px;
}