.about-Vlad{
    max-width: 550px;
    min-height: 400px;
    padding: 70px 20px 40px;
    margin: 0 auto 0;

    display: flex;
    position: relative;
    flex-direction: column;

    display: block;
    position: relative;

    background-image: url("../../image/long-gradient.svg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: left -50px bottom;
}