.about-Vlad__title-background{
    max-width: 90%;

    position: absolute;
    left: 10px;
    bottom: 10px;
    
    background-image: url("../../image/title-background.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    z-index: 2;
}