.Vlad-main__title{
    max-width: 250px;
    margin: 0;
    padding: 0;

    position: absolute;
    bottom: -25px;
    left: 22%;

    color: #EDEDED;
    font-family: Inter;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 35px */
    letter-spacing: -0.595px;

}


@media (min-width: 590px){
    .Vlad-main__title{
        max-width: 590px;
        font-size: 50px;
        letter-spacing: -0.85px;
        bottom: -40px;
        left: 20%;
    }
}

@media (min-width: 970px){
    .Vlad-main__title{
        font-size: 60px;
        letter-spacing: -1px;
        bottom: -50px;
        left: calc((100% - 300px) / 2);
    }
}