.Vlad-main{
    margin: 0;
    padding: 0;
    
    position: relative;
}

@media (min-width: 970px){
    .Vlad-main{
        max-width: 525px;
        display: inline-block;
        flex-direction: row;
        margin: 80px auto 0;
    }
}

@media (min-width: 1500px){
    .Vlad-main{
        padding: 0 calc((100% - 1500px)/2.5) 0;
        margin: 300px auto 400px;
    }
}