.title{
    padding: 0;
    margin: 0;

    display: inline;

    color: #D49BFC;
    font-family: Inter, Verdana, Tahoma, Arial, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.595px;
}

@media (min-width: 590px){
    .title{
        font-size: 50px;
        letter-spacing: -0.85px;
    }
}

@media (min-width: 930px){
    .title{
        font-size: 65px;
        letter-spacing: -1.105px;
    }
}