.what-how{
    max-width: 550px;
    min-height: 400px;
    padding: 0 20px;
    margin: 100px auto 0;

    display: block;
    position: relative;

    background-image: url("../../image/square-gradient.svg");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: left top;

    overflow-x: hidden;
}

@media (min-width: 590px){
    .what-how{
        max-width: 930px;
        min-height: 800px;
        background-size: 500px;
    }
}


@media (min-width: 930px){
    .what-how{
        max-width: 700px;
        margin: 100px 0 0 0;
    }
}

@media (min-width: 1250px){
    .what-how{
        padding: 0 0 0 40px;
        margin: 0 auto 0 0;
        display: inline-block;
        overflow-x: visible;
    }
}