.substance-4{
    width: 250px;
    height: 250px;

    background-image: url("../../image/3d-substance-4.png");
    background-size: contain;
    opacity: 0.8;

    position: absolute;
    bottom:40px;
    right: -100px;
    z-index: -1;
}


@media (min-width:590px){
    .substance-4{
        width: 350px;
        height: 350px;
    }
}

@media (min-width: 930px){
    .substance-4{
        right: 10%;
        top: 25%;
    }
}

