.feedbacks{
    max-width: 280px;
    margin: 15px auto 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, 130px);
    gap: 20px;
    grid-auto-flow: row;

    position: relative;
    

    list-style-type: none;
}

@media (min-width:450px){
    .feedbacks{
        max-width:430px  /*вмещаются 3 блока по 130*/
    }
}

@media (min-width:590px){
    .feedbacks{
        grid-template-columns: repeat(auto-fit, 155px);
        max-width: 590px; /*вмещаются 3 блока по 155*/
        gap: 35px;
    }
}

@media (min-width: 725px){
    .feedbacks{
        grid-template-columns: repeat(auto-fit, 155px);
        max-width: 930px; /*вмещаются 4 блока по 155*/
        gap: 35px;
    }
}

@media (min-width:930px){
    .feedbacks{
        grid-template-columns: repeat(auto-fit, 230px);
        max-width: 810px;  /*вмещаются 2 блока по 250*/
        gap: 45px;
    }
}

@media (min-width:1100px){
    .feedbacks{
        max-width: 1100px;
    }
}

@media (min-width:1250px){
    .feedbacks{
        margin: 15px 0 0 auto;

        grid-template-columns: repeat(auto-fit, 250px);
        max-width: 600px;
    }
}

@media (min-width:1550px){
    .feedbacks{
        max-width: 850px;
    }
}

@media (min-width:1800px){
    .feedbacks{
        max-width: 1150px;
    }
}