.feedbacks{
    max-width: 280px;
    margin: 15px auto 0;
    padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, 130px);
    gap: 20px;
    grid-auto-flow: row;

    position: relative;
    

    list-style-type: none;
}

@media (min-width:450px){
    .feedbacks{
        max-width:430px
    }
}

@media (min-width:605px){
    .feedbacks{
        max-width: 580px;
    }
}