.opinions{
    margin: 20px;
    padding: 0;

    display: flex;
    flex-direction: column;
}
/* 
@media (min-width:450px){
    .opinions{
        max-width: 430px;
    }
}

@media (min-width:600px){
    .opinions{
        max-width: 580px;
    }
} */
