.title{
    padding: 0;
    margin: 0;

    display: flex;

    color: #D49BFC;
    font-family: Inter, Verdana, Tahoma, Arial, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.595px;
}