.lesson-card{
    max-width: 280px;
    flex-shrink: 0;

    margin: 10px 0 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
        "title       title"
        "description description"
        "price       buy";

    border-radius: 20px;
    background: #9E29F0;
}