.lesson-card{
    max-width: 280px;
    max-height: 400px;
    flex-shrink: 0;

    margin: 10px 0;
    padding: 10px 10px 10px 0;
    display: inline-flex;
    flex-direction: column;

    border-radius: 20px;
    background: #9E29F0;

    overflow: hidden;
}

@media(min-width: 590px){
    .lesson-card{
        max-width: 545px;
        border-radius: 25px;

        margin: 20px 40px 0 0;
        padding: 10px 0;
    }
    .lesson-card:last-child{
        padding: 10px 0 0;
    }
}

@media(min-width: 930px){
    .lesson-card{
        min-width: 600px;
        border-radius: 30px;
        padding: 0;
    }
}