.lesson-card__price{
    margin: 3.25% 0 3% auto;
    padding: 0;
    grid-area: price;

    color: #E5E5E5;
    text-align: right;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.51px;

    white-space: nowrap;
}


@media(min-width: 590px){
    .lesson-card__price{
        margin: 2% 0 3% auto;
        font-size: 30px;
        letter-spacing: -0.51px;
    }
}

@media(min-width: 930px){
    .lesson-card__price{
        margin: 1% 0 1% auto;
        font-size: 45px;
        letter-spacing: -0.765px;
    }
}