.lesson-card{
    max-width: 280px;
    flex-shrink: 0;

    margin: 10px 0 0 0;
    padding: 0;
    display: inline-grid;
    
    grid-template-columns: 40% 60%;
    grid-template-rows: fit-content auto fit-content ;
    grid-template-areas:
        "title       title"
        "description description"
        "price       buy";

    border-radius: 20px;
    background: #9E29F0;
}

@media(min-width: 590px){
    .lesson-card{
        grid-template-columns: 50% 50%;
        
        max-width: 545px;
        border-radius: 25px;

        margin: 20px 40px 20px 0;
    }
}

@media(min-width: 930px){
    .lesson-card{
        grid-template-columns: 44% 56%;

        min-width: 600px;
        border-radius: 30px;
    }
}