.questions-and-answers{
    min-height: 600px;
    margin: 125px 0 0;
    padding: 0 20px;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

    position: relative;
    overflow-x: hidden;
}


@media (min-width:590px){
    .questions-and-answers{
        padding: 0 40px;
    }
}
