.question__answer{
    width: 100%;
    margin: 0 0 15px;
    padding: 0;

    display: flex;

    color: #FFF;
    font-family: Forum;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 17px */
    letter-spacing: -0.289px;
}

@media (min-width:590px){
    .question__answer{
        font-size: 30px;
        letter-spacing: -0.51px;
    }
}