.question__title{
    margin: 0 0 10px;
    padding: 0;

    display: flex;

    color: #FFF;
    font-family: Inter;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.289px;
}

@media (min-width:590px){
    .question__title{
        font-size: 30px;
        letter-spacing: -0.51px;
    }
}

.question__title:hover{
    cursor: pointer;
}