.header__title{
    max-width: 275px;
    
    display: inline;

    color: #D49BFC;
    font-family: Inter, Verdana, Tahoma, Arial, sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 35px */
    letter-spacing: -0.595px;
}